body{
    font-family: 'Montserrat', sans-serif;
}

.navbar-bg{
    background-color: rgba(44, 62, 80);
}

.nav-text{
    font-size: 17px;
    margin-top: 15px;
}

.heading-img{
    width: 15rem;
}

.heading-bg{
    background-color: #1abc9c;;
}

.text-bold{
    font-weight: bolder;
}

.portfolio-color{
    color:#2c3e50;
}

.border-raduis-10{
    border-radius: 10px;
}

.text-left{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.form-input-box{
    border-radius: 0;
    border: none;
    border-bottom: solid darkgray 1px;
}

.footer-bgc-1{
    background-color:#2C3E50;
}

.links{
    color: #1abc9c;
}

.hover-green:hover{
    color: #20d4b0;
}

.copyright-bgc{
    background-color:#1A252F;
}

.circle-icons{
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.line-dark{
    width: 112px;
    height: 4px;
    border-radius: 10px;
    background-color: #1A252F;
    margin-top: 30px;
}

.line-light{
    width: 112px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
}

.portfolio_item{
    position: relative;
  }

  .portfolio_item:hover .item_hover{
    opacity: 1;
  }

  .item_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(26, 188, 156, 0.9);
    border-radius: 8px;
    opacity: 0;
    font-size: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear .2s all;
  }

  